<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>helloooooooooooooooooooooooooo</h2>
<img src="http://localhost:8000/public/dummy.jpeg" alt="immmmmmmmmmmmmmmmmmm">
<img src="http://localhost:8000/public/baby.jpg" alt="immmmmmmmmmmmmmmmmmm">
<img src="https://res.cloudinary.com/dgj1icpu7/image/upload/v1728791695/products/y1lppcqjvb3jujbz7kxc.webp" alt="cloud">
</body>
</html>